<h1>See all the BookClubs:</h1>

<% if flash[:alert] %>
        <%= flash[:alert] %>
<% end %>

<br>

<ul>
<% @clubs.collect do |club| %>
        <li><%= link_to club.name, club_path(club) %> (# of users: <%= club.users.uniq.count %>)</li>
<% end %>
</ul>

<br>

<% if user_signed_in? %>
        <%= link_to "Create a new Book Club", new_club_path %>
<% end %>