<h1>Hi from the user's show page!</h1><br>

<h2>My Clubs</h2>
<p>You haven't created any clubs yet...</p><br>

<h2>Books I've Read</h2>
<p>You haven't read any books yet...</p><br>

<h2>Currently Reading</h2>
<p>You are not currently reading a book...</p><br>