<div class="text-center">
<h1>About</h1>

<p>The Book Club web application was created for a Rails project...Enjoy!</p>

<p>Use BookClub to create a book club and log books that you want to read with others!</p>
</div>